@tailwind base;
@tailwind components;
@tailwind utilities;

.deck-list,
.deck-img {
  background-color: #fff;
  border-bottom: inset 0.3em;
  color: #333;
}

.deck-img img{
  max-width: 100%;
}

.front-img, .back-img {
  width: 35%;
}

li:hover {
  color: #be630e;
}

.deck-header {
  position: relative;
  margin: 0 30px;
  padding: 0;
  color: #be630e;
  background: #191919;
  border-bottom-color: #be630e;
  border-bottom: solid 0.3em;
}

input[type="file"] {
  display: none;
}

.import-btn-label, .export button, .export label {
  color: #be630e;
  display: inline-block;
  cursor: pointer;
}

.import-select, .import-select-label {
  color: #333;
  padding: 2px;
}

.import-export-span {
  color: #be630e;
}



