@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("background-1.jpg");
  
}



.cardDetailContainer {
  display:flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 15vw;
  gap: 15px;
  background-color: #161414;
  width: 600px;
  height: 850px;
}



