@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("background-1.jpg");
  color: white;
}

/* .cardDetailContainer {
  display:flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 15vw;
  gap: 15px;
  background-color: #161414;
  width: 600px;
  height: 850px;
} */

.grid {
  margin-right: 30px;
  margin-left: 30px;
}

.card-detail-img {
  height: 400px;
}

.detail-header {
  background: none;
  border: none
}

.detail-col {
  background-color: #191919;
}

th {
  width: 25%;
  text-align: end;
  font-weight: 400;
  color: #e07511;
}
.textColor {
  text-align: top;
  color: #e07511;
}

td {
  font-weight: 400;
  color:  #c2c2c2;
}

th, td {
  padding: 5px;
}