@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  margin-top: 50px;
  height: 45vw;
  background-image: url("battlefield.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}