.navBar {
  background-color: grey;
  padding: 10px;
}

.searchBar, .searchBtn {
  position: relative;
  top: -10px;
  float: right;
  border-radius: 5px;
  padding: 5px;
  margin: 5px
}

.link {
  padding-right: 10px;
}

