@tailwind base;
@tailwind components;
@tailwind utilities;


.import-bar {
    background-color: #fff;
    color: #be630e;
}

.import-header {
    margin: 10px;
    padding: 10px;
  
}

h1 {
    color: #be630e;
}

.import-display, .deck-details {
    background-color: #fff;
    color: black;
    margin: 10px;
}